<section class="list-page">
  <section class="header container">
    <div class="row">
      <h1 class="col-6">Simple Fruit</h1>
      <div class="col">
        <fruit-basket></fruit-basket>
      </div>
    </div>
  </section>

  <section class="container">
    <div class="row">
      <div class="col-4">
        <fruit-tile class="tile"></fruit-tile>
      </div>
      <div class="col-4">
        <fruit-tile class="tile"></fruit-tile>
      </div>
      <div class="col-4">
        <fruit-tile class="tile"></fruit-tile>
      </div>
    </div>
  </section>
</section>
